* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.kboard {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.kcolumn {
    flex: 0 0 250px;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}

.kcolumn h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #aeaeae;
}

.kcolumn ul {
    list-style: none;
    padding-left: 0px;
}

.kcolumn li {
    padding: 8px 0px;
    background: transparent;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    list-style: none;
    text-align: left;
}

@media (max-width: 768px) {
    
    .kboard {
        flex-direction: column;
        gap: 16px;
    }
    
    .kcolumn {
        flex: 1 1 auto;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .kcolumn h3, .kcolumn ul li {
        color: #fff;
    }
}